body {
background-color: #040D12;
}

.section1 {
  border: 2px solid #183D3D;
  height: 40vh;
  width: 250vh;

} 

.section1 h1 {
color: #FAF0E6;

}

.section1 p {
color: #FAF0E6;

}

.box1 {
border: 2px solid #FAF0E6;

}

.box2 {
  border: 2px solid #FAF0E6;

}

.box3 {
  border: 2px solid #FAF0E6;

}