body {
background-color: #040D12;
}

.section1 {
  border: 2px solid #183D3D;
  height: 100vh;
  width: 100vh;

} 

.section1 h1 {
color: #FAF0E6;

}

.section1 p {
color: #FAF0E6;

}

.box1 {
border: 2px solid #FAF0E6;
/* width: 500px;
height: 150px; */

}

.box2 {
  border: 2px solid #FAF0E6;
width: ;
}

.box3 {
  border: 2px solid #FAF0E6;

}