body {
  background-color: #191919;
  color: antiquewhite;
}

img {
  height: 250px;
}

a {
  font-weight: bold;
  color: #526D82;
  text-decoration: none;
}

a:hover {
  background-color: #DDE6ED;
}

.image {
display: flex;
justify-content: flex-start;

}

.section1 {
display: flex;
justify-content: flex-end;

}

.bio {
  border: 2px solid antiquewhite;
}

.employment {
  border: 2px solid antiquewhite;
}

.education {
  border: 2px solid antiquewhite;
}


.div-border {
  border: 2px solid whitesmoke;
  padding: 30px 30px 30px 30px;
}